/* Ejercicio 1: Selector de tipo */
p {
    color: blue;
}

/* Ejercicio 1: Selector de clase */
.destacado {
    background-color: lightyellow;
}

/* Ejercicio 2: Selector de ID */
#experiencia {
    border: 2px dotted red;
}

